<div id="app" class="container-fluid justify-content-around align-content-center p-0">
    <div class="row m-0 justify-content-center">
        <div id="editor" class="edit-sticker col-md-6 col-sm-8 p-5">
            <textarea id="edit-input" class="edit-input"></textarea>
        </div>
        <div id="fade" class="dark-fade p-5"></div>
    </div>
    <div id="content" class="row p-5 content">
    </div>

</div>
<script src="~/js/markdown/lib/markdown.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/hub/site.js"></script>